{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <h4>Ajouter une annonce</h4>

    {{ form_start(formAnnonce) }}
        <div class="row">
            <div class="col-6">
                {{ form(formAnnonce) }}
            </div>
        </div>
    {{ form_end(formAnnonce) }}
   
{% endblock body %}


